<template>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar" id="master-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul ref="menu" class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <template v-for="item in menuItems">
          <template v-if="!item.tree">
            <router-link :to="{ path: item.path }" tag="li" :exact="item.exactActive">
                <a><i :class="item.icon"></i> <span>{{ item.title }}</span></a>
            </router-link>
          </template>
          <li v-else class="treeview">
            <a href="javascript:">
              <i :class="item.icon"></i> <span>{{ item.title }}</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li v-for="sub in item.tree">
                <router-link :to="{ path: sub.path }">
                  <i :class="sub.icon"></i> <span>{{ sub.title }}</span>
                </router-link>
              </li>
            </ul>
          </li>
        </template>

        <li class="header">LABELS</li>
        <li><a href="javascript:" v-on:click.prevent="doLogout"><i class="fa fa-circle-o text-red"></i> <span>Logout</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import { AuthenticationMixins } from '../mixins/AuthenticationMixins';
  import { adminNavigationItems } from '../../router/routes/admin/index';

  @Component({
    mixins: [AuthenticationMixins],
    data() {
      return {
        menuItems: adminNavigationItems,
      };
    },
  })
  export default class Sidebar extends Vue {
    public mounted() {
      // Initial admin-lte: menu-tree-widget
      // After DOM has been mounted
      $(this.$refs.menu as Element).tree();
    }
  }
</script>
