<template>
  <header class="main-header" id="master-topbar">

    <!-- Logo -->
    <router-link to="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>Wte</b>D</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">Where to eat <b>Dessert</b></span>
    </router-link>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="hidden-xs">{{ currentUser.email }}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <p>
                  <small>{{ currentUser.uid }}</small>
                  <small>{{ currentUser.email }}</small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-right">
                  <a href="javascript:" class="btn btn-default btn-flat" v-on:click="doLogout">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import { AuthenticationMixins } from '../mixins/AuthenticationMixins';

  @Component({
    mixins: [AuthenticationMixins],
  })
  export default class Topbar extends Vue {}
</script>

<style lang="scss">
  .navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: auto;
  }
</style>
