<template>
  <div class="about">
    <h1>This is a login page</h1>

    <form v-on:submit.prevent="doLogin">
      <label>
        <input type="email" v-model="email" />
      </label>
      <label>
        <input type="password" v-model="password" />
      </label>
      <button type="submit">login</button>
    </form>
  </div>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';

  @Component({
    data() {
      return {
        // email: 'dev@where-to-eat-dessert.dev',
        // password: '123456',
        email: '',
        password: '',
      };
    },
  })
  export default class Login extends Vue {
    public doLogin(): void {
      const email = this.$data.email;
      const password = this.$data.password;
      this.$store.dispatch('auth/login', { email, password })
        .then(() => {
          // TODO: back to last redirected route (if have any that not match login)
          return this.$router.push({ path: '/' });
        })
        .catch((err) => {
          console.error(`(${err.code}) ${err.message}`);
        });
    }
  }
</script>
