<template>
  <div class="skin-red sidebar-mini" id="master-view">
    <div class="wrapper">
      <Topbar/>
      <Sidebar/>
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            {{ router.currentRoute.meta.title || router.currentRoute.name }}
            <template v-if="router.currentRoute.meta.subtitle">
              <small>{{ router.currentRoute.meta.subtitle }}</small>
            </template>
          </h1>
        </section>

        <!-- Main Content -->
        <section class="content">
          <router-view/>
        </section>
      </div>
      <!--<Footer/>-->
    </div>
  </div>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';

  import Topbar from '@/components/master/Topbar.vue';
  import Sidebar from '@/components/master/Sidebar.vue';

  @Component({
    computed: {
      router() {
        return this.$router;
      },
    },
    components: {
      Topbar,
      Sidebar,
    },
  })
  export default class Master extends Vue {
    protected static updateAdminlteHeight() {
      const body = $('body');
      body.layout('fix');
    }
    public mounted() { Master.updateAdminlteHeight(); }
    public updated() { Master.updateAdminlteHeight(); }
  }
</script>
