<template>
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Form</h3>
        </div>
        <!-- /.box-header -->
        <shop-form mode="add"></shop-form>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import ShopForm from '@/components/forms/ShopForm.vue';

  @Component({
    components: {
      'shop-form': ShopForm,
    },
  })
  export default class AddShop extends Vue {}
</script>
