<template>
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Form</h3>
        </div>
        <!-- /.box-header -->
        <shop-form ref="shopForm" mode="edit"></shop-form>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import { Container } from '@/dependency-injection';
  import { ShopManager } from '@/manager/ShopManager';
  import { ShopDocument } from '@/models/documents/ShopDocument';
  import ShopForm from '@/components/forms/ShopForm.vue';

  @Component({
    async beforeRouteEnter(to, from, next) {
      const shop = await Container.get<ShopManager>(ShopManager).get(to.params.__id);
      next((vm: any) => vm.setModel(shop));
    },
    components: {
      'shop-form': ShopForm,
    },
  })
  export default class EditShop extends Vue {
    public setModel(shop: ShopDocument) {
      (this.$refs.shopForm as ShopForm).setModel(shop);
    }
  }
</script>
