<template>
  <div>
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Controls</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <router-link :to="{ name: 'shop-add' }" class="btn btn-warning">+ Add new shop</router-link>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Shops list</h3>
          </div>
          <custom-vuetable-pagination class="box-body table-responsive no-padding"
                                      ref="vuetable"
                                      :fields="fields"
                                      :per-page="per_page"
                                      :onChangePage="onChangePage">
            <!-- Profile Picture Slot -->
            <div class="text-center profile-picture" slot="shop-profile-picture" slot-scope="props">
              <img v-if="props.rowData.profile_picture" :src="props.rowData.profile_picture"/>
              <span v-else>no-picture</span>
            </div>
            <!-- Location Slot -->
            <a slot="location" slot-scope="props" target="_blank"
               :href="generateGoogleMapLinkToCoordinate(props.rowData.location)">
              {{ generateCoordinateTuple(props.rowData.location) }}
            </a>
            <!-- Actions Slot -->
            <div class="actions" slot="actions" slot-scope="props">
              <router-link :to="{ name: 'shop-edit', params: { __id: props.rowData.__id } }"
                           class='btn btn-warning'>Edit</router-link><br />
              <a href="javascript:" class="btn btn-success">Manage Menu</a><br />
              <a href="javascript:" class="btn btn-primary">Manage Gallery</a><br />
              <a href="javascript:" class="btn btn-info">Manage Promotion</a>
            </div>
          </custom-vuetable-pagination>
          <!-- /.box-body -->
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';

  import { Container } from '@/dependency-injection';
  import { Paginatable } from '@/interfaces/document/Paginatable';
  import { ShopManager } from '@/manager/ShopManager';
  import { ShopDocument } from '@/models/documents/ShopDocument';

  @Component({
    data() {
      return {
        per_page: 3,
        fields: [
          { name: '__slot:shop-profile-picture', title: 'Picture' },
          'name',
          { name: '__slot:location', title: 'Location' },
          'type',
          { name: '__slot:actions', title: 'Actions' },
        ],
      };
    },
    methods: {
      generateGoogleMapLinkToCoordinate(location: Coordinates) {
        return `https://www.google.com/maps/?q=${location.latitude},${location.longitude}`;
      },
      generateCoordinateTuple(location: Coordinates) {
        return `(${location.latitude}, ${location.longitude})`;
      },
    },
  })
  export default class Shop extends Vue {
    public onChangePage(page, reload) {
      Container.get<ShopManager>(ShopManager).getAll({
        page,
        limit: this.$data.per_page,
      }).then((documents: Paginatable<ShopDocument>) => {
        return reload(documents);
      });
    }
  }
</script>

<style lang="scss" scoped>
  .profile-picture img {
    max-height: 150px;
  }
  .actions a.btn {
    width: 100%;
  }
</style>
