<template>
  <form class="form-horizontal" v-on:submit.prevent="onSubmit">
    <div class="box-body">
      <h3 style="margin-top: 0;">Shop details</h3>
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name"
                 v-model="document.name" placeholder="Shop Name" required>
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="description"
                 v-model="document.description" placeholder="Shop Description" required>
        </div>
      </div>
      <div class="form-group">
        <label for="address" class="col-sm-2 control-label">Address</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="address"
                 v-model="document.address" placeholder="Shop Address" required>
        </div>
      </div>
      <div class="form-group">
        <label for="location-lat" class="col-sm-2 control-label">Location (Latitude)</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="location-lat"
                 v-model="document.location.latitude" placeholder="Shop Location (latitude)" required>
        </div>
      </div>
      <div class="form-group">
        <label for="location-lng" class="col-sm-2 control-label">Location (Longitude)</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="location-lng"
                 v-model="document.location.longitude" placeholder="Shop Location (Longitude)" required>
        </div>
      </div>
      <div class="form-group">
        <label for="telephone" class="col-sm-2 control-label">Telephone</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="telephone"
                 v-model="document.telephone" placeholder="Shop Telephone" required>
        </div>
      </div>
      <div class="form-group">
        <label for="type" class="col-sm-2 control-label">Type</label>
        <div class="col-sm-10">
          <select class="form-control" id="type" v-model="document.type" required>
            <option disabled value="">Please select one</option>
            <option v-for="(t, k) in available_types" :value="k">{{t}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="sub_types" class="col-sm-2 control-label">Sub-Types</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="sub_types"
                 v-model="document.subtypes" placeholder="Shop Sub-Types (eg. dessert,cake,ice cream)">
          <p class="help-block" style="margin-bottom: 0;">Use ',' (comma) to separate sub-types.</p>
        </div>
      </div>
      <div class="form-group">
        <label for="tags" class="col-sm-2 control-label">TagsType</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="tags"
                 v-model="document.tags" placeholder="Shop TagsType (eg. dessert,cake,ice cream)">
          <p class="help-block" style="margin-bottom: 0;">Use ',' (comma) to separate tags.</p>
        </div>
      </div>
      <div class="form-group">
        <label for="profile_picture" class="col-sm-2 control-label">Profile picture</label>
        <div class="col-sm-10">
          <template v-if="current_image !== null" >
            <img :src="current_image" style="max-width: 100%;" />
            <br />
          </template>
          <input type="file" class="form-control" id="profile_picture" v-on:change="onProfilePictureChange">
        </div>
      </div>
    </div>
    <div class="box-body">
      <h3 style="margin-top: 0">Set service times</h3>
      <table class="table table-bordered">
        <thead>
        <tr>
          <td></td>
          <td v-for="(d) in ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']">
            {{d}}
          </td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Start</td>
          <td v-for="(i) in [0, 1, 2, 3, 4, 5, 6]">
            <input class="form-control" type="time" ref="service_opened"
                   v-model="document.service_time[i].opened" :required="requiredStartTime(i)">
          </td>
        </tr>
        <tr>
          <td>End</td>
          <td v-for="(i) in [0, 1, 2, 3, 4, 5, 6]">
            <input class="form-control" type="time" ref="service_closed"
                   v-model="document.service_time[i].closed" :required="requiredEndTime(i)">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <button type="button" class="btn btn-default" v-on:click="goBack">Cancel</button>
      <button type="submit" class="btn btn-info pull-right">{{ mode === 'add' ? 'Add' : 'Update' }} Shop</button>
    </div>
    <!-- /.box-footer -->
  </form>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import { ShopType } from '@/models/enums/ShopType';
  import { lazyInject } from '@/dependency-injection';
  import { ShopManager } from '@/manager/ShopManager';
  import { ShopDocument } from '@/models/documents/ShopDocument';

  @Component({
    props: {
      mode: {
        type: String,
        required: true,
        validator: (value) => {
          return ['add', 'edit'].indexOf(value) !== -1;
        },
      },
    },
    data() {
      return {
        document: {
          address: null,
          description: null,
          location: {} as Coordinates,
          name: null,
          service_time: {
            0: {} as any,
            1: {} as any,
            2: {} as any,
            3: {} as any,
            4: {} as any,
            5: {} as any,
            6: {} as any,
          },
          tags: null,
          telephone: null,
          type: null,
          subtypes: null,
        },
        selected_file: null,
        current_image: null,
        available_types: ShopType,
      };
    },
    methods: {
      requiredStartTime(i) {
        return !!this.$data.document.service_time[i].closed;
      },
      requiredEndTime(i) {
        return !!this.$data.document.service_time[i].opened;
      },
      goBack() {
        this.$router.go(-1);
      },
    },
  })
  export default class ShopForm extends Vue {
    @lazyInject(ShopManager)
    protected shopManager: ShopManager;
    protected model: ShopDocument = null;
    protected isSaving = false;

    public setModel(model: ShopDocument) {
      // Set model`
      this.model = model;
      // Clone model to $data
      const document = {
        address: this.model.address,
        description: this.model.description,
        location: this.model.location,
        name: this.model.name,
        service_time: {},
        subtypes: this.model.type.substring(this.model.type.indexOf(':') + 1),
        telephone: this.model.telephone,
        type: this.model.type.substring(0, this.model.type.indexOf(':')),
        tags: this.model.tags.join(','),
      };
      // Map service time
      for (const i of Object.keys(this.model.service_time)) {
        if (this.model.service_time[i] === null) {
          document.service_time[i] = {};
        } else {
          document.service_time[i] = this.model.service_time[i];
        }
      }
      // Set new document $data
      this.$data.document = document;
      // If document have profile picture, set to current_image $data
      if (this.model.profile_picture) {
        this.$data.current_image = this.model.profile_picture;
      }
    }

    /** On profile picture change */
    protected onProfilePictureChange(event) {
      this.$data.selected_file = event.target.files[0];
      const reader = new FileReader();
      reader.onload = (e: any) => { this.$data.current_image = e.target.result; };
      reader.readAsDataURL(this.$data.selected_file);
    }

    /** On submit form */
    protected async onSubmit() {
      if (this.isSaving) {
        console.error('Form is saving.');
        return;
      }
      this.isSaving = true;
      // Prepare shop data
      const document = this.prepareShopDocument();
      if (this.$data.selected_file) {
        // Upload profile picture first, and add profile picture url to document if file is selected
        document.profile_picture =
          await this.shopManager.uploadShopProfilePicture(document.name, this.$data.selected_file);
      } else if (this.model) {
        // Else if model is set, use model value
        document.profile_picture = this.model.profile_picture;
      }
      // Save document to firebase
      this.shopManager.save(document).then(() => {
        console.log('Save form complete.');
        this.$router.push({ name: 'shop' });
      }).catch((err) => {
        console.error('Error on saving document', err);
        this.isSaving = false;
      });
    }

    /** Prepare document for saving */
    protected prepareShopDocument(): ShopDocument {
      // Prepare remote data shop to object (read observer data)
      const shopData = this.$data.document as any;
      const document: ShopDocument = {
        name: shopData.name,
        description: shopData.description,
        address: shopData.address,
        location: shopData.location,
        menu: [],
        tags: [],
        type: shopData.type,
        telephone: shopData.telephone,
        service_time: {} as any,
      };
      if (shopData.subtypes && shopData.subtypes.trim() !== '') { document.type += ':' + shopData.subtypes; }
      if (shopData.tags && shopData.tags.trim() !== '') { document.tags = shopData.tags.split(','); }
      // Convert service time
      for (const i of Object.keys(shopData.service_time)) {
        document.service_time[i] = null;
        if (shopData.service_time[i].opened && shopData.service_time[i].closed) {
          document.service_time[i] = {
            opened: shopData.service_time[i].opened,
            closed: shopData.service_time[i].closed,
          };
        }
      }
      // If model is set, set the __id
      if (this.model) {
        document.__id = this.model.__id;
      }
      // Return prepared data
      return document;
    }
  }
</script>
